### Date functionality in pandas
#### Timestamp
* Single time stamp

In [12]:
import pandas as pd
import numpy as np
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

* Interchangeable with python's datetime in most cases.

#### Period
* Span of time

In [2]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [3]:
pd.Period('5/1/2016')

Period('2016-05-01', 'D')

#### DatetimeIndex

In [5]:
s=pd.Series(list('abc'), index=[pd.Timestamp('2019-09-01'),pd.Timestamp('2019-09-02'),pd.Timestamp('2019-09-03')])

In [6]:
s

2019-09-01    a
2019-09-02    b
2019-09-03    c
dtype: object

In [7]:
s.index

DatetimeIndex(['2019-09-01', '2019-09-02', '2019-09-03'], dtype='datetime64[ns]', freq=None)

In [ ]:
#### PeriodIndex

In [8]:
t = pd.Series(list('xyz'), index=[pd.Period('2016-09'),pd.Period('2016-10'),pd.Period('2016-11')])

In [9]:
t

2016-09    x
2016-10    y
2016-11    z
Freq: M, dtype: object

In [10]:
t.index

PeriodIndex(['2016-09', '2016-10', '2016-11'], dtype='period[M]', freq='M')

#### Converting to Datetime

In [14]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
df1 = pd.DataFrame(np.random.randint(10,100,(4,2)), index=d1, columns=list('ab'))

In [15]:
df1

               a   b
2 June 2013   13  54
Aug 29, 2014  47  22
2015-06-26    57  53
7/12/16       73  87

In [16]:
df1.index = pd.to_datetime(df1.index)

In [17]:
df1

             a   b
2013-06-02  13  54
2014-08-29  47  22
2015-06-26  57  53
2016-07-12  73  87

In [18]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

* Anything that is observed or measure in time forms a time series. Some time series are fixed frequency meaning, data points occur at regular interval.

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 2, 4, 20, 46, 47, 943891)

In [4]:
now.day

4

In [6]:
now.second

47

In [8]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [9]:
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days

926

In [13]:
temp = datetime(2011,1,3)

In [14]:
str(temp)

'2011-01-03 00:00:00'

In [15]:
temp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

### `dateutil.parser`
* Capable of parsing most human intelligible date representation

In [18]:
from dateutil.parser import parse

In [19]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [21]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

### `pd.to_datetime`

In [26]:
import pandas as pd
import numpy as np

In [23]:
pd.to_datetime(['2011-07-06 12:00:00', '2011-08-06 00:00:00'])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [24]:
pd.to_datetime(['2011-07-06 12:00:00', '2011-08-06 00:00:00', None])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

![](images/to_datetime.jpg)

In [25]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [28]:
ts = pd.Series(np.random.randn(6), dates)

In [29]:
ts

2011-01-02    0.607461
2011-01-05   -1.524182
2011-01-07   -1.365373
2011-01-08    0.357393
2011-01-10    0.859206
2011-01-12    0.807596
dtype: float64

In [30]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts + ts[::2]

2011-01-02    1.214921
2011-01-05         NaN
2011-01-07   -2.730745
2011-01-08         NaN
2011-01-10    1.718413
2011-01-12         NaN
dtype: float64

* Pandas stores timestamp using numpy's datetime64 data type at the nano second resolution

In [32]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

* Timestamp type can be substituted wherever we use datetime object.

In [35]:
stamp = ts.index[2]

In [36]:
ts[stamp]

-1.3653727433583727

In [37]:
ts['1/10/2011']

0.8592064081326799

In [39]:
ts['20110110']

0.8592064081326799

In [41]:
longer_Ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods = 1000))

In [44]:
longer_Ts.head()

2000-01-01   -0.347529
2000-01-02   -0.670211
2000-01-03    0.603276
2000-01-04    0.284548
2000-01-05   -1.749777
Freq: D, dtype: float64

In [45]:
longer_Ts['2001'] # '2001' intepreted as year and selects that time period

2001-01-01    0.316632
2001-01-02    1.371871
2001-01-03    0.464429
2001-01-04   -0.326172
2001-01-05   -0.469098
2001-01-06   -0.111776
2001-01-07   -1.633447
2001-01-08    1.650640
2001-01-09    0.239303
2001-01-10   -0.627824
2001-01-11    0.730697
2001-01-12    1.110168
2001-01-13    1.728293
2001-01-14   -1.178926
2001-01-15   -1.640520
2001-01-16    0.278871
2001-01-17    0.140811
2001-01-18   -0.610013
2001-01-19    1.368252
2001-01-20    2.445121
2001-01-21   -0.025823
2001-01-22   -0.069952
2001-01-23    1.257219
2001-01-24   -0.820313
2001-01-25    0.017720
2001-01-26    0.890040
2001-01-27    0.785029
2001-01-28    0.820302
2001-01-29    0.261762
2001-01-30   -2.015855
                ...
2001-12-02   -0.673741
2001-12-03    1.306429
2001-12-04   -1.019661
2001-12-05   -0.325799
2001-12-06    0.080483
2001-12-07    1.878499
2001-12-08    0.632838
2001-12-09    0.574071
2001-12-10    0.136339
2001-12-11   -0.561443
2001-12-12   -1.182843
2001-12-13   -1.692524
2001-12-14   -0.017870
2001-12-15    0.623718
2001-12-16   -0.013035
2001-12-17   -0.088990
2001-12-18   -0.445456
2001-12-19    0.188420
2001-12-20    1.515207
2001-12-21   -0.832104
2001-12-22    1.553517
2001-12-23   -1.218555
2001-12-24   -0.693216
2001-12-25   -0.540162
2001-12-26   -0.432406
2001-12-27    1.901838
2001-12-28   -0.183077
2001-12-29    0.010795
2001-12-30   -0.343473
2001-12-31   -0.393394
Freq: D, Length: 365, dtype: float64

In [46]:
longer_Ts['2001-05']

2001-05-01   -0.022022
2001-05-02    2.185341
2001-05-03   -0.550408
2001-05-04    0.013289
2001-05-05    0.890134
2001-05-06   -0.093873
2001-05-07   -0.858894
2001-05-08    0.696824
2001-05-09    0.213461
2001-05-10   -0.415624
2001-05-11    0.328798
2001-05-12   -0.205083
2001-05-13    0.024852
2001-05-14    0.505828
2001-05-15    1.181757
2001-05-16    1.925196
2001-05-17   -0.439995
2001-05-18   -1.620212
2001-05-19    0.208118
2001-05-20    1.371492
2001-05-21   -0.505816
2001-05-22    2.017146
2001-05-23   -0.117670
2001-05-24   -0.033729
2001-05-25    0.783687
2001-05-26    0.399760
2001-05-27    1.162125
2001-05-28   -1.560515
2001-05-29    0.679281
2001-05-30   -0.093967
2001-05-31    1.589519
Freq: D, dtype: float64

In [56]:
ts

2011-01-02    0.607461
2011-01-05   -1.524182
2011-01-07   -1.365373
2011-01-08    0.357393
2011-01-10    0.859206
2011-01-12    0.807596
dtype: float64

In [57]:
ts[datetime(2011,1,7):]

2011-01-07   -1.365373
2011-01-08    0.357393
2011-01-10    0.859206
2011-01-12    0.807596
dtype: float64

* Most of the time series are chronological order. we can slice it with timestamp not contained in timeseries

In [58]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.365373
2011-01-08    0.357393
2011-01-10    0.859206
dtype: float64

In [59]:
ts.truncate(after='1/9/2011') # truncate slices a seried between sepcified date

2011-01-02    0.607461
2011-01-05   -1.524182
2011-01-07   -1.365373
2011-01-08    0.357393
dtype: float64

In [60]:
dates = pd.date_range('1/1/2000', periods=100, freq = 'W-WED')

In [63]:
long_df = pd.DataFrame(np.random.randn(100,4), 
                       columns=['Colorado', 'Texas', 'New York',  'Ohio'],
                       index= dates)

In [64]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.694032  0.984666  0.669936  0.957381
2001-05-09 -1.299080 -2.298153 -0.588234 -0.885542
2001-05-16  0.998000  0.878050 -0.711261  1.102033
2001-05-23  1.177054  1.087526 -0.235897  0.270095
2001-05-30  0.545286 -0.376263  0.433096  1.074458

* Also duplicate timeseries index allowed

In [65]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [66]:
dup_ts = pd.Series(np.arange(5), index = dates)

In [67]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [68]:
dup_ts['1/3/2000']

4

In [69]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [72]:
# aggregate data having non unique timestamps
dup_ts.groupby(level = 0).mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [73]:
dup_ts.groupby(level = 0).count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

* Timeseries data with frequency. For ex. daily, monthly, every 15 min.
* We can convert sample time series in fixed daily frequency by calling `resample`

In [74]:
ts

2011-01-02    0.607461
2011-01-05   -1.524182
2011-01-07   -1.365373
2011-01-08    0.357393
2011-01-10    0.859206
2011-01-12    0.807596
dtype: float64

In [77]:
resampler = ts.resample('D') # D for daily frequency

### Date ranges

In [78]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [79]:
index # daily timestamp by default

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start = '2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(end = '2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [83]:
# business end of month
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

![](images/date_range.jpg)

In [85]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

* Frequency in pandas are composed of base frquency and multiplier.
* Base frequency is like 'M' for monthly, 'H' for hourly.
* For each base frequency there is an object defined, date offset

In [104]:
from pandas.tseries.offsets import Hour, Minute, Day, MonthEnd

In [88]:
Hour()

In [89]:
Hour(4)

* Same can be mentioned using 'H' or '4H'

In [90]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
Hour(2) + Minute(30)

* Same can be mentioned as '1h30min'

In [92]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### anchored offset
* Frequency that describe points in time that are not evenly spaced.
* Ex. 'M' is end of month and 'BM' is last business/weekday of month

#### Week of month dates

In [93]:
pd.date_range('2012-01-01', '2012-09-01', freq = 'WOM-3FRI')

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

* Get dates like the 3rd friday of each month

### Shifting data `shift`
* Moving data backward and forward through the time

In [94]:
ts = pd.Series(np.random.randn(4), 
               index=pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [95]:
ts

2000-01-31   -2.171449
2000-02-29    1.722652
2000-03-31    1.352869
2000-04-30    0.916947
Freq: M, dtype: float64

In [96]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -2.171449
2000-04-30    1.722652
Freq: M, dtype: float64

In [98]:
ts.shift(2, freq='M')

2000-03-31   -2.171449
2000-04-30    1.722652
2000-05-31    1.352869
2000-06-30    0.916947
Freq: M, dtype: float64

In [97]:
ts.shift(-2)

2000-01-31    1.352869
2000-02-29    0.916947
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

* Compute percentage changes in time series

In [101]:
ts/ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.793319
2000-03-31   -0.214659
2000-04-30   -0.322221
Freq: M, dtype: float64

In [102]:
ts.shift(3,freq= 'D')

2000-02-03   -2.171449
2000-03-03    1.722652
2000-04-03    1.352869
2000-05-03    0.916947
dtype: float64

In [103]:
ts.shift(1, freq='90T') # T means minute

2000-01-31 01:30:00   -2.171449
2000-02-29 01:30:00    1.722652
2000-03-31 01:30:00    1.352869
2000-04-30 01:30:00    0.916947
Freq: M, dtype: float64

In [105]:
from pandas.tseries.offsets import Hour, Minute, Day, MonthEnd

In [106]:
now = datetime(2011,11,17)

In [107]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [108]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [109]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

#### `rollforward` `rollback`

In [110]:
offset = MonthEnd()

In [114]:
now

datetime.datetime(2011, 11, 17, 0, 0)

In [111]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [112]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [115]:
ts = pd.Series(np.random.randn(20), 
               index=pd.date_range('1/15/2000', periods=20, freq = '4d'))

In [116]:
ts

2000-01-15    0.879763
2000-01-19   -1.151304
2000-01-23   -0.588594
2000-01-27   -0.508132
2000-01-31   -0.317380
2000-02-04   -2.538808
2000-02-08   -1.316012
2000-02-12   -0.231770
2000-02-16    1.313919
2000-02-20    0.356330
2000-02-24    0.658139
2000-02-28    0.108870
2000-03-03   -0.176085
2000-03-07    0.085458
2000-03-11    0.757869
2000-03-15    0.019356
2000-03-19   -0.481538
2000-03-23    0.137802
2000-03-27    0.576740
2000-03-31    0.603816
Freq: 4D, dtype: float64

In [117]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.337129
2000-02-29   -0.235619
2000-03-31    0.190427
dtype: float64

In [118]:
ts.resample('M').mean()

2000-01-31   -0.337129
2000-02-29   -0.235619
2000-03-31    0.190427
Freq: M, dtype: float64

### Time zone handing
* use `pytz` for time zone.

In [119]:
import pytz

In [120]:
tz = pytz.timezone('America/New_York') # get timezone object

In [121]:
tz

* Pandas method can accept zone name or timezone objects

* By default time series is time zone naive.

In [125]:
print(ts.index.tz)

None

In [126]:
pd.date_range('3/9/2012 9:30', periods=10, freq = 'D', tz = 'UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

#### `tz_localize`
* Conversion from naive to localized

In [127]:
ts_utc = ts.tz_localize('UTC')

In [128]:
ts_utc

2000-01-15 00:00:00+00:00    0.879763
2000-01-19 00:00:00+00:00   -1.151304
2000-01-23 00:00:00+00:00   -0.588594
2000-01-27 00:00:00+00:00   -0.508132
2000-01-31 00:00:00+00:00   -0.317380
2000-02-04 00:00:00+00:00   -2.538808
2000-02-08 00:00:00+00:00   -1.316012
2000-02-12 00:00:00+00:00   -0.231770
2000-02-16 00:00:00+00:00    1.313919
2000-02-20 00:00:00+00:00    0.356330
2000-02-24 00:00:00+00:00    0.658139
2000-02-28 00:00:00+00:00    0.108870
2000-03-03 00:00:00+00:00   -0.176085
2000-03-07 00:00:00+00:00    0.085458
2000-03-11 00:00:00+00:00    0.757869
2000-03-15 00:00:00+00:00    0.019356
2000-03-19 00:00:00+00:00   -0.481538
2000-03-23 00:00:00+00:00    0.137802
2000-03-27 00:00:00+00:00    0.576740
2000-03-31 00:00:00+00:00    0.603816
Freq: 4D, dtype: float64

In [129]:
ts_utc.index

DatetimeIndex(['2000-01-15', '2000-01-19', '2000-01-23', '2000-01-27',
               '2000-01-31', '2000-02-04', '2000-02-08', '2000-02-12',
               '2000-02-16', '2000-02-20', '2000-02-24', '2000-02-28',
               '2000-03-03', '2000-03-07', '2000-03-11', '2000-03-15',
               '2000-03-19', '2000-03-23', '2000-03-27', '2000-03-31'],
              dtype='datetime64[ns, UTC]', freq='4D')

#### `tz_convert`
* Convert localized time series to another time zone

In [131]:
ts_utc.tz_convert('America/New_York')

2000-01-14 19:00:00-05:00    0.879763
2000-01-18 19:00:00-05:00   -1.151304
2000-01-22 19:00:00-05:00   -0.588594
2000-01-26 19:00:00-05:00   -0.508132
2000-01-30 19:00:00-05:00   -0.317380
2000-02-03 19:00:00-05:00   -2.538808
2000-02-07 19:00:00-05:00   -1.316012
2000-02-11 19:00:00-05:00   -0.231770
2000-02-15 19:00:00-05:00    1.313919
2000-02-19 19:00:00-05:00    0.356330
2000-02-23 19:00:00-05:00    0.658139
2000-02-27 19:00:00-05:00    0.108870
2000-03-02 19:00:00-05:00   -0.176085
2000-03-06 19:00:00-05:00    0.085458
2000-03-10 19:00:00-05:00    0.757869
2000-03-14 19:00:00-05:00    0.019356
2000-03-18 19:00:00-05:00   -0.481538
2000-03-22 19:00:00-05:00    0.137802
2000-03-26 19:00:00-05:00    0.576740
2000-03-30 19:00:00-05:00    0.603816
Freq: 4D, dtype: float64

In [138]:
ts.index

DatetimeIndex(['2000-01-15', '2000-01-19', '2000-01-23', '2000-01-27',
               '2000-01-31', '2000-02-04', '2000-02-08', '2000-02-12',
               '2000-02-16', '2000-02-20', '2000-02-24', '2000-02-28',
               '2000-03-03', '2000-03-07', '2000-03-11', '2000-03-15',
               '2000-03-19', '2000-03-23', '2000-03-27', '2000-03-31'],
              dtype='datetime64[ns]', freq='4D')

In [139]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2000-01-15 00:00:00+08:00', '2000-01-19 00:00:00+08:00',
               '2000-01-23 00:00:00+08:00', '2000-01-27 00:00:00+08:00',
               '2000-01-31 00:00:00+08:00', '2000-02-04 00:00:00+08:00',
               '2000-02-08 00:00:00+08:00', '2000-02-12 00:00:00+08:00',
               '2000-02-16 00:00:00+08:00', '2000-02-20 00:00:00+08:00',
               '2000-02-24 00:00:00+08:00', '2000-02-28 00:00:00+08:00',
               '2000-03-03 00:00:00+08:00', '2000-03-07 00:00:00+08:00',
               '2000-03-11 00:00:00+08:00', '2000-03-15 00:00:00+08:00',
               '2000-03-19 00:00:00+08:00', '2000-03-23 00:00:00+08:00',
               '2000-03-27 00:00:00+08:00', '2000-03-31 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='4D')

In [140]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [141]:
stamp_utc = stamp.tz_localize('utc')

In [142]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [143]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [144]:
stamp1 = pd.Timestamp('2011-03-12 04:00', tz = 'America/New_York')

In [145]:
stamp1

Timestamp('2011-03-12 04:00:00-0500', tz='America/New_York')

* It also handles DST when possible

In [146]:
stamp3 = pd.Timestamp('2012-03-12 01:30', tz = 'US/Eastern')

In [147]:
stamp3

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [148]:
stamp3 + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [153]:
stamp4 = pd.Timestamp('2012-11-04 00:30', tz = 'US/Eastern')

In [154]:
stamp4 # 90 min before transition out of DST

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [152]:
stamp4 + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

#### Operation different time zone
* If 2 time series with different time zones are combined, the result will be UTC.

In [156]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq = 'B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [157]:
ts

2012-03-07 09:30:00    0.215368
2012-03-08 09:30:00   -1.198845
2012-03-09 09:30:00   -1.953365
2012-03-12 09:30:00    0.560728
2012-03-13 09:30:00    0.473200
2012-03-14 09:30:00   -0.269792
2012-03-15 09:30:00   -2.227270
2012-03-16 09:30:00   -0.169820
2012-03-19 09:30:00    1.017808
2012-03-20 09:30:00    0.655035
Freq: B, dtype: float64

In [158]:
ts1 = ts[:7].tz_localize('Europe/London')

In [160]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [162]:
ts = ts1 + ts2

In [163]:
ts

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -3.906730
2012-03-12 09:30:00+00:00    1.121456
2012-03-13 09:30:00+00:00    0.946401
2012-03-14 09:30:00+00:00   -0.539584
2012-03-15 09:30:00+00:00   -4.454540
Freq: B, dtype: float64

In [164]:
ts.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

### Periods and Period Arithmetic
* Periods represent timespans, like days, months, quarters or years.

In [167]:
p = pd.Period(2007, freq = 'A-DEC')
# Represents full timespan from January 1, 2007 to December 31, 2007

In [168]:
p

Period('2007', 'A-DEC')

In [170]:
p + 5 # Addition to period is shifting by frequency

Period('2012', 'A-DEC')

In [171]:
p - 2

Period('2005', 'A-DEC')

In [172]:
p1 = pd.Period('2014', freq = 'A-Dec')

In [173]:
p1 - p

7

#### `period_range`

In [174]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq = 'M')

In [175]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

* PeriodIndex class stores a sequence of periods and can serve as an axis index in any pandas data structure.

In [176]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.115053
2000-02   -0.135962
2000-03    0.758608
2000-04   -0.267988
2000-05    0.643181
2000-06    1.584069
Freq: M, dtype: float64

In [177]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq = 'Q-DEC')

In [178]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period frequency conversion 
#### `asfreq`
* Periods and PeriodIndex object can be converted to another frequency with `asfreq`.

In [179]:
p = pd.Period('2007', freq='A-DEC')

In [180]:
p

Period('2007', 'A-DEC')

In [181]:
p.asfreq('M', how = 'start')

Period('2007-01', 'M')

In [182]:
p.asfreq('M', how = 'end')

Period('2007-12', 'M')

* `pd.Period('2007', freq='A-DEC')` is sort of cursor pointing to a span of time, subdivided by monthly period.
![](images/period_freq.jpg)

* For fiscal year ending other than December use,

In [183]:
p = pd.Period('2007', freq = 'A-JUN')

In [184]:
p

Period('2007', 'A-JUN')

In [185]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [186]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

* When we convert from high to low frequency, pandas determines the super period depending on where the sub period belongs

In [189]:
p = pd.Period('Aug-2007', 'M')

In [190]:
p

Period('2007-08', 'M')

In [191]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

* In `A-JUN` frequency `AUG-2007` is actually part of 2008 period.

In [193]:
rng = pd.period_range('2006', '2009', freq = 'A-DEC')

In [194]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [195]:
ts

2006    1.217822
2007    1.128393
2008    0.286914
2009    1.442274
Freq: A-DEC, dtype: float64

In [196]:
ts.asfreq('M', how = 'start')

2006-01    1.217822
2007-01    1.128393
2008-01    0.286914
2009-01    1.442274
Freq: M, dtype: float64

* Annual period converted to monthly corresponding to the 1st month falling within each annual period.
* To get last business day of each year

In [197]:
ts.asfreq('B', how = 'end')

2006-12-29    1.217822
2007-12-31    1.128393
2008-12-31    0.286914
2009-12-31    1.442274
Freq: B, dtype: float64

#### Quarterly period frequency
* Quarterly period has different meaning according to fiscal year end. Pandas support 12 possible quarterly frequency as `Q-JAN` to `Q-DEC`.

In [199]:
p = pd.Period('2012Q4', freq = 'Q-JAN')

In [200]:
p

Period('2012Q4', 'Q-JAN')

Fiscal year ending in JAN, 2012Q4 means November to January.

![](images/quarterly.jpg)

In [202]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [204]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [210]:
p4pm = (p.asfreq('B', 'end') - 1).asfreq('T', 'start') + 16 *60

In [209]:
p4pm

Period('2012-01-30 16:00', 'T')

* Timestamp at 4 pm on second to last business day of the quarter

In [211]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

#### Quarterly ranges

In [212]:
rng = pd.period_range('2011Q3', '2012Q4', freq = 'Q-JAN')

In [213]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [215]:
ts = pd.Series(np.arange(len(rng)), index = rng)

In [216]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [217]:
new_rng = (rng.asfreq('B', 'end') - 1).asfreq('T','start') + 16 *60

In [218]:
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [223]:
ts.index = new_rng

In [224]:
ts

2010-10-28 16:00    0
2011-01-28 16:00    1
2011-04-28 16:00    2
2011-07-28 16:00    3
2011-10-28 16:00    4
2012-01-30 16:00    5
Freq: T, dtype: int32

In [225]:
ts.index = new_rng.to_timestamp()

In [226]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

#### Converting timestamp to period

* Series and dataframe indexed by timestamp can be converted to periods with the to_period method

In [227]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [228]:
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [229]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [230]:
ts

2000-01-31    1.886567
2000-02-29   -0.557940
2000-03-31   -0.086599
Freq: M, dtype: float64

In [231]:
preiod = ts.to_period()

In [232]:
preiod

2000-01    1.886567
2000-02   -0.557940
2000-03   -0.086599
Freq: M, dtype: float64

In [233]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(len(rng)), index=rng)

In [234]:
ts2

2000-01-29    0.737196
2000-01-30   -1.859601
2000-01-31   -2.051728
2000-02-01    0.282813
2000-02-02    0.824383
2000-02-03    0.485709
Freq: D, dtype: float64

In [235]:
ts2.to_period('M')

2000-01    0.737196
2000-01   -1.859601
2000-01   -2.051728
2000-02    0.282813
2000-02    0.824383
2000-02    0.485709
Freq: M, dtype: float64

In [236]:
ts2.to_period('M').to_timestamp(how = 'end')

2000-01-31    0.737196
2000-01-31   -1.859601
2000-01-31   -2.051728
2000-02-29    0.282813
2000-02-29    0.824383
2000-02-29    0.485709
dtype: float64

#### Creating PeriodIndex from Arrays

* Sometimes fixed frequency datasets are sometimes stored with timespan info spreaded in multiple columns.

* To form an index from it we can combine as
```
pd.PeriodIndex(year = yr_col, quarter = quarter_col, freq = 'Q-DEC')
```

* Re assign such index to dataframe.

### Resampling
* Process of converting time series from one frequency to another.Aggregating higher freq data to lower is called down sampling.
* Converting lower freq to higher is called upsampling.

In [240]:
rng = pd.date_range('2000-01-01', periods=100,freq = 'D')

In [241]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [243]:
ts.head()

2000-01-01   -0.506152
2000-01-02   -0.024082
2000-01-03    1.165891
2000-01-04    0.292855
2000-01-05    0.758581
Freq: D, dtype: float64

In [245]:
ts.resample('M').mean()

2000-01-31   -0.078041
2000-02-29   -0.329765
2000-03-31   -0.190745
2000-04-30   -0.265065
Freq: M, dtype: float64

* resample has similar API to groupby. Call resample tp group data then call aggregate function.

In [246]:
ts.resample('M', kind='period').mean()

2000-01   -0.078041
2000-02   -0.329765
2000-03   -0.190745
2000-04   -0.265065
Freq: M, dtype: float64

![](images/resampling.jpg)

#### Downsampling
* Aggregating data to a regular, lower frequency.
* Desired freq defines bin edges that are used to slice the time series to aggregate.
* To convert to `M` or `BM` we need to chop up the data into 1 month interval.
    - Which side of interval will be closed
    - How to label each aggregated bin? With the start? or end?

In [247]:
rnd = pd.date_range('2000-01-01', periods=12, freq = 'T')

In [248]:
rnd

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00', '2000-01-01 00:09:00',
               '2000-01-01 00:10:00', '2000-01-01 00:11:00'],
              dtype='datetime64[ns]', freq='T')

In [249]:
ts = pd.Series(np.arange(12), rnd)

In [250]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

* Aggregate in 5 minute chunk

In [251]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

* Time series is labeled by timestamp from left side of each bin

In [253]:
# label with right bin edge
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32